In [11]:
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [12]:
dataset=[]
with open('Market_Basket_Optimisation.csv') as file:
    reader=csv.reader(file,delimiter=',')
    for row in reader:
        dataset += [row]

In [13]:
dataset[0:5]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']]

In [14]:
len(dataset)

7501

In [15]:
te=TransactionEncoder()
X=te.fit_transform(dataset)
X

array([[False,  True,  True, ...,  True, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False]])

In [16]:
df=pd.DataFrame(X,columns=te.columns_)

In [17]:
df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [18]:
# 1. Finding frequent itemsets
frequent_itemset=apriori(df,min_support=0.01,use_colnames=True)
frequent_itemset

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (ground beef, milk, mineral water)
253  0.017064  (ground beef, mineral water, spaghetti)
254  0.015731         (milk, mineral water, spaghetti)
255  0.010265    (mineral water, spaghetti, olive oil)
256  0.011465     (pancakes, mineral water, spaghetti)

[257 rows x 2 columns]

In [19]:
#Find the rules
rules=association_rules(frequent_itemset,metric="confidence",min_threshold=0.35)
rules=rules[['antecedents','consequents','support','confidence']]
rules.head()

           antecedents      consequents   support  confidence
0            (cereals)  (mineral water)  0.010265    0.398964
1            (chicken)  (mineral water)  0.022797    0.380000
2        (cooking oil)  (mineral water)  0.020131    0.394256
3  (frozen vegetables)  (mineral water)  0.035729    0.374825
4        (ground beef)  (mineral water)  0.040928    0.416554

In [20]:
rules[rules['antecedents']=={'chicken'}]['consequents']

1    (mineral water)
Name: consequents, dtype: object